<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta property="fb:admins" content="284427245089080"/>
		
		<title>Chuck Churros</title>

		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/blog-home.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/star-rating.css" media="all" rel="stylesheet" type="text/css"/>
	</head>

	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" style="color:red;" href="/">Chuck Churros</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/sobre/">Sobre</a></li>
						<li><a href="/contato/">Contato</a></li>
					</ul>
				</div>
			</div><!-- /.navbar-collapse -->
		</nav><!-- /.container -->

		<!-- Page Content -->
		<div class="container">

			<div class="row">
				<!-- Blog Entries Column -->
				{% block content%}
				{% endblock content%}
				<div id="fb-root"></div>

				<!-- Blog Sidebar Widgets Column -->
				<div class="col-md-4">

					<!-- Blog Search Well -->
					<div class="well">

						<h4 style="font-weight:bold;">Novos Artigos</h4>
						<hr>
						<ul id="recentes">
						</ul>
						<br/><br/>

						<h4 style="font-weight:bold;">Mais Acessados</h4>
						<hr>
						<ul id="acessados">
						</ul>
						
						<!--    
						<br/><br/>
						
						<h4 style="font-weight:bold;">Mais votados</h4>
						<hr>
						<ul id="votados">
						</ul>
						-->
						<br/>


					</div>

					<!-- Blog Categories Well -->
					<!--
					<div class="well">
						<h4>Blog Categories</h4>
						<div class="row">
							<div class="col-lg-6">
								<ul class="list-unstyled">
									<li><a href="#">Category Name</a>
									</li>
									<li><a href="#">Category Name</a>
									</li>
									<li><a href="#">Category Name</a>
									</li>
									<li><a href="#">Category Name</a>
									</li>
								</ul>
							</div>
							
							<div class="col-lg-6">
								<ul class="list-unstyled">
									<li><a href="#">Category Name</a>
									</li>
									<li><a href="#">Category Name</a>
									</li>
									<li><a href="#">Category Name</a>
									</li>
									<li><a href="#">Category Name</a>
									</li>
								</ul>
							</div>
							-->
							<!-- /.col-lg-6 -->
						</div>
						<!-- /.row -->
					</div>

				</div>

			</div>
			<!-- /.row -->

			<hr>

			<!-- Footer -->
			<footer>
				<div class="row">
					<div class="col-lg-12">
						<p>Copyright &copy; Chuck Churros 2014</p>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
			</footer>

		</div>
		<!-- /.container -->

		<script src="{{STATIC_URL}}js/jquery-1.11.0.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}js/star-rating.js" type="text/javascript"></script>
		
		<script>
		  window.fbAsyncInit = function() {
			FB.init({
			  appId      : '284427245089080',
			  xfbml      : true,
			  version    : 'v2.1'
			});
		  };

		  (function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/pt_BR/sdk.js";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		
		<script>
			$(document).ready(function(){
				$.ajax({
					url: '/artigosRecentes/',
					type: 'get',
					success: function(data){
						var recentes = '';
						for(i=0;i < data.length;i++){
							recentes += '<li><p><a href="/artigo/'+data[i].fields.slug+'/">'+data[i].fields.titulo.toUpperCase()+'</a></p></li>';
						}
						$("#recentes").html(recentes);
					}
				}); 

				$.ajax({
					url: '/artigosMaisAcessados/',
					type: 'get',
					success: function(jsonData){
						var jsonData = eval('('+jsonData+')');
						var acessados = '';
						for(i=0;i < jsonData.json.length;i++){
							acessados += '<li><p><a href="/artigo/'+jsonData.json[i].slug+'/">'+jsonData.json[i].titulo.toUpperCase()+'('+jsonData.json[i].qtd+')</a></p></li>';
						}
						$("#acessados").html(acessados);
					},
					error: function(a){
						console.log('erro');
					}
				}); 

				/*
				$.ajax({
					url: '/artigosMaisVotados/',
					type: 'get',
					success: function(data){
						
						var jsonData = eval('('+jsonData+')');
						var votados = '';
						for(i=0;i < jsonData.json.length;i++){
							votados += '<li><p><a href="/artigo/'+jsonData.json[i].slug+'/">'+sonData.json[i].titulo.toUpperCase()+'('+sonData.json[i].ranking__sum+')</a></p></li>';
						}
						
						$("#votados").html(votados);
						
					}
				}); 
				*/

			});		
		</script>

		{% block script%}
		{% endblock script%}
	</body>
</html>
